header{
    background: slategray;
    height: 150px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    line-height: 50px;
    letter-spacing: 5px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.navigation:any-link{
    color: white;
    margin: 0 20px;
}
footer{
    background: slategray;
    color: white;
    height: 40px;
    vertical-align: center;
}
